*.iml
.gradle
/local.properties
Client\.idea\caches
Client\.idea\libraries
Client\.idea\modules.xml
Client\.idea\workspace.xml
.idea/caches/build_file_checksums.ser
.idea/libraries
.idea/modules.xml
.idea/workspace.xml
.DS_Store
app/build
/captures
.externalNativeBuild
Client/local.properties
Client/.gradle
Client/app/build
Terminal/app/build
Client/.idea
Client/.settings
Client/app/.settings
.project
Client/app/.classpath
Client/app/.project
Terminal/app/.project
Terminal/app/.classpath
Terminal\.settings
Terminal\app\.idea